/backend/obj/
/backend/bin/
/backend/appsettings.json
/backend/.idea/
/backend/Migrations/
/frontend/node_modules/

.fake

onion/backend/obj/
onion/backend/bin/
onion/backend/appsettings.json
onion/backend/.idea/
onion/backend/Migrations/
onion/frontend/node_modules/

/onion/backend/Application/obj
/onion/backend/Domain/obj
/onion/backend/Infrastructure/obj
/onion/backend/Startup/obj
/onion/backend/UI/obj
