/* .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

form{
    max-width: 550px;
    width: 100%;
    background: linear-gradient(115deg, #1a202c, #2d3748);
    padding: 25px 25px 30px ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #1a202c;
}

form h2{
    font-size: 30px;
    text-align: center;
}
form .input-box{
    margin-top: 30px;
}

.input-box .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #b4b4b4;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #2b2b2b;
    margin-top: 8px;
}

.input-box .field.mess{
    height: 200px;
    resize: none;
}

form button{
    width: 100%;
    height: 50px;
    background: linear-gradient(115deg, #1a202c, #2d3748);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
 */
